.cameos {
  height: 100vh;
  margin-top: 10vh !important;
  margin-bottom: 10vh !important;
  display: flex;
  /* toggle this for mobile layout */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.products-img-grid {
  width: 80%;
  height: auto;
}
.products-img-grid2 {
  width: 55%;
  height: auto;
}
.products-img-grid3 {
  width: 80%;
  height: auto;
}
.products-img-grid4 {
  width: 80%;
  height: auto;
}
.productInfo {
  text-align: left;
}
.titleBtn,
.titleBtn1,
.titleBtn2 {

  margin-top: 2vh;
  margin-bottom: 1vh;
}
.titleBtn h2,
.titleBtn1 h2,
.titleBtn2 h2 {
  display: inline;
  position: relative;
  top: 10px;
  font-weight: 550 !important;
}

.titleBtn a {
  padding: 5px 15px 5px 15px;
  background-color: #ec660d;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  float: right;
}
.titleBtn1 a {
  padding: 5px 15px 5px 15px;
  background-color: #e40521;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  float: right;
}
.titleBtn2 a {
  padding: 5px 15px 5px 15px;
  background-color: #b32572;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  float: right;
}
.productDesc {
  width: 60%;
  font-size: 22px;
}

.productTag {
  font-size: 30px;
  color: #ec660d;
}
.productTag2 {
  font-size: 30px;
  color: #e40521;
}
.productTag3 {
  font-size: 30px;
  color: #b32572;
}
.products {
  background-color: #3cb4e5;
}
.cultures {
  background-color: #ec660d;
}
.smart2 {
  font-size: 25px;
  font-weight: 500;
  color: #ed5ea7;
}
.smart3 {
  font-size: 25px;
  font-weight: 500;
  color: #ec660d;
}
.smart4 {
  font-size: 25px;
  font-weight: 500;
  color: #e40521;
}
.smart5 {
  font-size: 25px;
  font-weight: 500;
  color: #b32572;
}
.smart6 {
  font-size: 25px;
  font-weight: 500;
  color: #b32572;
}
#productsCultures {
  background-color: #3cb4e5;
}
#productsIntroDC {
  color: #b32572;
}
#productsSmart {
  color: #3cb4e5;
}
#buyPorridge {
  background-color: #ec660d;
}

@media only screen and (max-width: 1280px) {
  .titleBtn a {
    padding: 5px 15px 5px 15px;
    background-color: #ec660d;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    float: right;
  }
  .titleBtn1 a {
    padding: 5px 15px 5px 15px;
    background-color: #e40521;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    float: right;
  }
  .titleBtn2 a {
    padding: 5px 15px 5px 15px;
    background-color: #b32572;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    float: right;
  }
  .productDesc {
    font-size: 18px;
  }
  .productTag {
    font-size: 20px;
  }
  .productTag2 {
    font-size: 20px;
  }
  .productTag3 {
    font-size: 20px;
  }
  /* #buyPorridge {
    margin-left: 29%;
  } */
}

@media only screen and (max-width: 960px) {
  .cameos {
    margin-bottom: 25vh;
    height: auto;
  }
  .productInfo {
    margin-top: 10vh;
    margin-left: 10vw;
  }
  .products-img-grid2 {
    margin-top: 10vh;
  }
  .products-img-grid3 {
    margin-top: 10vh;
  }
  .products-img-grid4 {
    margin-top: 10vh;
  }
  .products div {
    padding: 15px;
  }
  .cultures div {
    padding: 15px;
  }

  .footer {
    flex-direction: column-reverse !important;
  }
  .listTitle {
    margin-top: 15%;
    width: 95%;
  }
  .titleBtn a {
    float: right;
  }
  .titleBtn1 a {
    float: right;
  }
  .titleBtn2 a {
    float: right;
  }
}

@media only screen and (max-width: 600px) {
  #subtitle {
    margin: 0;
    text-align: left;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 0;
  }
  .titleBtn a {
    float: none;
  }
  .titleBtn1 a {
    float: none;
  }
  .titleBtn2 a {
    float: none;
  }
  .listTitle {
    margin-top: 22%;
    width: 95%;
  }
  #buyPorridge {
    margin-left: 0;
  }
  .cameos {
    height: auto;
    margin-bottom: 20vh;
  }
}

@media only screen and (max-width: 415px) {
  .navTitle {
    font-size: 45px;
}
  .titleBtn a {
    width: 150px;
    text-align: center;
    margin: 0.5em 0 0 0 !important;
    display: block;
  }
  .titleBtn1 a {
    width: 150px;
    text-align: center;
    margin: 0.5em 0 0 0;
    display: block;
  }
  .titleBtn2 a {
    width: 150px;
    text-align: center;
    margin: 0.5em 0 0 0;
    display: block;
  }
  .legal p {
    display: block;
  }
  .right {
    float: left;
    margin-right: 5vw;
  }
}
