.cameos {
  height: 100vh;
  display: flex;
  /* toggle this for mobile layout */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.products-img-grid {
  width: 80%;
  height: auto;
}
.products-img-grid2 {
  width: 55%;
  height: auto;
}
.products-img-grid3 {
    width: 80%;
    height: auto;
  }
  .products-img-grid4 {
    width: 80%;
    height: auto;
  }
.productInfo {
  text-align: left;
}
.titleBtn,
.titleBtn1,
.titleBtn2 {
  margin-bottom: 2vh;
}
.titleBtn h2,
.titleBtn1 h2,
.titleBtn2 h2 {
  display: inline;
}

.titleBtn a {
  padding: 5px 15px 5px 15px;
  background-color: #ec660d;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  margin-left: 50%;
  display: inline;
}
.titleBtn1 a {
  padding: 5px 15px 5px 15px;
  background-color: #e40521;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  margin-left: 46%;
  display: inline;
}
.titleBtn2 a {
  padding: 5px 15px 5px 15px;
  background-color: #b32572;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  margin-left: 44%;
  display: inline;
}
.productDesc {
  width: 60%;
  font-size: 22px;
}

.productTag {
  font-size: 30px;
  color: #ec660d;
}
.productTag2 {
    font-size: 30px;
    color: #e40521;
}
.productTag3 {
    font-size: 30px;
    color: #b32572;
}
.products {
  background-color: #3cb4e5;
}
.cultures {
  background-color: #ec660d;
}
.smart2 {
  font-size: 25px;
  font-weight: 500;
  color: #ed5ea7;
}
.smart3 {
  font-size: 25px;
  font-weight: 500;
  color: #EC660D;
}
.smart4 {
  font-size: 25px;
  font-weight: 500;
  color: #e40521;
}
.smart5 {
  font-size: 25px;
  font-weight: 500;
  color: #B32572;
}
.smart6 {
  font-size: 25px;
  font-weight: 500;
  color: #B32572;
}
#productsCultures {
  background-color: #3CB4E5;
}
#productsIntroDC{
  color: #b32572;
}
#productsSmart{
  color: #3CB4E5;
}
#buyPorridge {
  background-color: #EC660D;
  margin-left: 51%;

}

@media only screen and (max-width: 1280px) {
    .titleBtn a {
        padding: 5px 15px 5px 15px;
        background-color: #ec660d;
        border-radius: 10px;
        color: white;
        font-size: 30px;
        margin-left: 33%;
        display: inline;
      }
      .titleBtn1 a {
        padding: 5px 15px 5px 15px;
        background-color: #e40521;
        border-radius: 10px;
        color: white;
        font-size: 30px;
        margin-left: 27%;
        display: inline;
      }
      .titleBtn2 a {
        padding: 5px 15px 5px 15px;
        background-color: #b32572;
        border-radius: 10px;
        color: white;
        font-size: 30px;
        margin-left: 24%;
        display: inline;
      }
      .productDesc {
        font-size: 18px;
    }
    .productTag {
        font-size: 20px;
    }
    .productTag2 {
        font-size: 20px;
    }
    .productTag3 {
        font-size: 20px;
    }
    #buyPorridge {

      margin-left: 34%;
    
    }
}

@media only screen and (max-width: 960px) {
    .cameos{
        margin-bottom: 55vh;
    }
    .productInfo {
        margin-top: 10vh;
        margin-left: 10vw;
    }
    .products-img-grid2 {
        margin-top: 10vh;
    }
    .products-img-grid3 {
        margin-top: 10vh;
        
    }
    .products-img-grid4 {
        margin-top: 10vh;
    }
    .products div {
        padding: 15px;
      }
      .cultures div {
        padding: 15px;
      }
      
  .footer {
    flex-direction: column-reverse !important;
  }
  .listTitle {
    margin-top: 15%;
    width: 95%;
  }
  .titleBtn a {
    margin-left: 36%;
}
.titleBtn1 a {
    margin-left: 31%;
}
.titleBtn2 a {
    margin-left: 28%;
}
#buyPorridge {

  margin-left: 37%;

}
}

@media only screen and (max-width: 600px) {
    .titleBtn a {
        margin-left: 23%;
        
    }
    .titleBtn1 a {
        margin-left: 16%;
    }
    .titleBtn2 a {
        margin-left: 12%;
    }
    .listTitle {
        margin-top: 22%;
        width: 95%;
    }
    #buyPorridge {

      margin-left: 0;
    
    }
}

@media only screen and (max-width: 415px) {
    .navTitle {
        font-size: 49px;
    }
.titleBtn a {
    width: 100px;
    margin: 0.5em 0 0 0 !important;
    display: block;
}
.titleBtn1 a {
    width: 100px;
    margin: 0.5em 0 0 0;
    display: block;
}
.titleBtn2 a {
    width: 100px;
    margin: 0.5em 0 0 0;
    display: block;
}
.legal p {
    display: block;
}
.right {
    float: left;
    margin-right: 5vw;
}
}